<H1>Upload your emails ✍️</H1>
<%= form_with model: @email do |f| %>
  <%= f.label :subject %>
  <%= f.text_field :subject %>
  <br>
  <br>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <br>
  <%= f.label :tag %>
  <%= f.text_field :tag %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
